<!doctype html>
<html lang="en">


<head>
  <title>Prediccion</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}" />
</head>

<body class="center">
  <form method='post' action="/prediccion">
    <br>
    Resultados
    {% if pred[0] %}
    <br>
    <br>
    <div class="card">
      <div class="container">
    {{ pred[0] }}
    <br>
    
    {{ pred[1] }}
    <br>
    
    {% if pred[2] %}
    {{ pred[2] }}
    <br>
    
    {% endif %}
    {% if pred[3] %}
    {{ pred[3] }}
    <br>
    
    {% endif %}
    {% if pred[4] %}
    {{ pred[4] }}
    <br>
    {% endif %}
    {% if pred[5] %}
    {{ pred[5] }}
    <br>
    
    {% endif %}
    {% if pred[6] %}
    {{ pred[6] }}
    <br>
    
    {% endif %}
    {% if pred[7] %}
    {{ pred[7] }}
    <br>
    
    {% endif %}
    {% endif %}
</div>
</div>
    <br>
    <button  type="submit" class="w3-button w3-green w3-round-xlarge">Predecir otras materias</button>
  </form>
</body>