<!doctype html>
<html lang="en">


<head>
  <title>Prediccion</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}" />
</head>

<body style="text-align:center">
  <form method='post'>
    <br>
    Resultados
    {% if pred[0] %}
    <br>
    <br>
    <div class="card">
      <div class="container">
    {{ pred[0] }}
    <br>
    
    {{ pred[1] }}
    <br>
    
    {% if pred[2] %}
    {{ pred[2] }}
    <br>
    
    {% endif %}
    {% if pred[3] %}
    {{ pred[3] }}
    <br>
    
    {% endif %}
    {% if pred[4] %}
    {{ pred[4] }}
    <br>
    {% endif %}
    {% if pred[5] %}
    {{ pred[5] }}
    <br>
    
    {% endif %}
    {% if pred[6] %}
    {{ pred[6] }}
    <br>
    
    {% endif %}
    {% if pred[7] %}
    {{ pred[7] }}
    <br>
    
    {% endif %}
    {% endif %}
</div>
</div>
    <br>
    
  </form>
</body>