<!doctype html>
<html lang="en">
<title>Menu Principal</title>
<h2>Bienvenido al Programa de Prediccion de Notas</h2>

<head>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo.css') }}" />
	

	<script type="text/javascript">
		function mostrarMat() {
			divi1 = document.getElementById('idmat1');
			divi2 = document.getElementById('idmat2');
			divi3 = document.getElementById('idmat3');
			divi4 = document.getElementById('idmat4');
			divi5 = document.getElementById('idmat5');
			divi6 = document.getElementById('idmat6');
			divi7 = document.getElementById('idmat7');
			var aux = [divi1, divi2, divi3, divi4, divi5, divi6, divi7];
			var arr = [];
			var rept = document.getElementById("mataPredecir").value;
			for (var l = 0; l < rept; l++) {
				arr[l] = aux[l]
			}
			if (rept != 0) {
				for (var j = rept + 1; j < 7; j++) {
					if (arr[j].style.display === 'table') {
						arr[j].style.display = 'none';
					}
				}
				for (var i = 0; i < rept; i++) {
					arr[i].style.display = 'table';
				}
			} else {
				arr[i].style.display = 'none';
			}
		}
	</script>
</head>

<body>
	<br>
	<br>
	<fieldset>
		<legend>Seleccione el archivo pdf con su histórico de notas</legend>
		<p>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul class=flashes>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
		</p>

		<form method="post" action="/" enctype="multipart/form-data" >
			<dl>
				<p>
					
						<input type="file"  name="file"  autocomplete="off" required>
					
					
				</p>
			</dl>
	</fieldset>
	<br>
	<br>
	<fieldset>
		<legend>Seleccione las materias que va a inscribir este trimestre</legend>
		<p>

			<label>Seleccione cantidad de materias a inscribir (Entre 1 y 7 materias)</label>

			<ul>

				<input type="number" min="1" max="7" name="mataPredecir" id="mataPredecir" required>
				<p>
					<input type="button" value="Aceptar" class="w3-button w3-black w3-round-xlarge"  onclick="javascript:mostrarMat()">
				</p>

				<div id="idmat1" style="display: none;">
					<label>Seleccione materia</label>
					<select id="idMateria1" required>

						<option value=""></option>
						<option value="1">ADMINISTRACIÓN DE BASES DE DATOS</option>
						<option value="2">ÁLGEBRA LINEAL</option>
						<option value="3">ALGORITMOS Y PROGRAMACIÓN</option>
						<option value="4">APRENDIENDO A EMPRENDER</option>
						<option value="5">ARQUITECTURA DEL COMPUTADOR</option>
						<option value="6">BASES DE DATOS</option>
						<option value="7">COMPETENCIAS EN ACCIÓN</option>
						<option value="8">COMPRENSIÓN DE VENEZUELA</option>
						<option value="9">COMPUTACIÓN EMERGENTE</option>
						<option value="10">DEFENSA PROYECTO INDUSTRIAL-ING.SISTEMAS</option>
						<option value="11">DEFENSA TRABAJO DE GRADO-ING.SISTEMAS</option>
						<option value="12">DISEÑO ASISTIDO POR COMPUTADOR</option>
						<option value="13">ECUACIONES DIFERENCIALES</option>
						<option value="14">ELEMENTOS DE MATEMÁTICA 1</option>
						<option value="15">ELEMENTOS DE MATEMÁTICA 2</option>
						<option value="16">ESTADÍSTICA PARA INGENIEROS</option>
						<option value="17">ESTRATEGIAS INSTRUMENTALES</option>
						<option value="18">ESTRUCTURAS DE DATOS</option>
						<option value="19">ELECTIVA</option>
						<option value="20">FÍSICA I</option>
						<option value="21">FÍSICA II</option>
						<option value="22">FÍSICA III</option>
						<option value="23">GERENCIA DE PROYECTOS TIC</option>
						<option value="24">GESTIÓN DE LA CADENA DE SUMINISTRO I</option>
						<option value="25">INGENIERÍA DE SOFTWARE</option>
						<option value="26">INGENIERÍA ECONOMICA</option>
						<option value="27">INGENIERÍA AMBIENTAL</option>
						<option value="28">INGLÉS I</option>
						<option value="29">INGLÉS II</option>
						<option value="30">INGLÉS III</option>
						<option value="31">INGLÉS IV</option>
						<option value="32">INGLÉS V</option>
						<option value="33">INICIATIVA EMPRENDEDORA</option>
						<option value="34">INSTRUMENTACIÓN Y APRENDIZAJE</option>
						<option value="35">INTRODUCCIÓN A LA INGENIERÍA</option>
						<option value="36">LABORATORIO DE FÍSICA</option>
						<option value="37">LABORATORIO QUÍMICA GENERAL I</option>
						<option value="38">LECTURA Y APRENDIZAJE</option>
						<option value="39">LENGUA Y LENGUAJE</option>
						<option value="40">LENGUAJE Y UNIVERSALIDAD</option>
						<option value="41">LIDERAZGO CIUDADANO Y DES. SOSTENIBLE</option>
						<option value="42">MATEMÁTICA BÁSICA</option>
						<option value="43">MATEMÁTICA GENERAL</option>
						<option value="44">MATEMÁTICAS DISCRETAS</option>
						<option value="45">MATEMÁTICAS I</option>
						<option value="46">MATEMÁTICAS II</option>
						<option value="47">MATEMÁTICAS III</option>
						<option value="48">MATEMÁTICAS IV</option>
						<option value="49">MATEMÁTICAS V</option>
						<option value="50">MODELAC. DE SISTEMAS EN REDES</option>
						<option value="51">MODELOS ESTOCÁSTICOS</option>
						<option value="52">OPTIMIZACIÓN I</option>
						<option value="53">OPTIMIZACIÓN II</option>
						<option value="54">ORGANIZACIÓN DEL COMPUTADOR</option>
						<option value="55">PROYECTOS DE INGENIERÍA</option>
						<option value="56">QUÍMICA GENERAL I</option>
						<option value="57">RESP. SOCIAL Y PARTICIPACIÓN CIUDADANA</option>
						<option value="58">SEGURIDAD DE LA INFORMACIÓN</option>
						<option value="59">SERVICIO COMUNITARIO</option>
						<option value="60">SIMULACIÓN</option>
						<option value="61">SISTEMAS DE APOYO</option>
						<option value="62">SISTEMAS DE INFORMACIÓN</option>
						<option value="63">SISTEMAS DE REDES</option>
						<option value="64">SISTEMAS OPERATIVOS</option>
						<option value="65">TALLER DE TRABAJO DE GRADO - INGENIERÍA</option>
						<option value="66">TECNICAS DE GESTIÓN DE LA INFORMACIÓN</option>
						<option value="67">TECNOLOGÍAS PARA EL APRENDIZAJE</option>

					</select>
					<br>
					<br>
					<br>
				</div>


				<div id="idmat2" style="display: none;">
					<label>Seleccione materia</label>
					<select id="idMateria2">

						<option value="0">NINGUNA</option>
						<option value="1">ADMINISTRACIÓN DE BASES DE DATOS</option>
						<option value="2">ÁLGEBRA LINEAL</option>
						<option value="3">ALGORITMOS Y PROGRAMACIÓN</option>
						<option value="4">APRENDIENDO A EMPRENDER</option>
						<option value="5">ARQUITECTURA DEL COMPUTADOR</option>
						<option value="6">BASES DE DATOS</option>
						<option value="7">COMPETENCIAS EN ACCIÓN</option>
						<option value="8">COMPRENSIÓN DE VENEZUELA</option>
						<option value="9">COMPUTACIÓN EMERGENTE</option>
						<option value="10">DEFENSA PROYECTO INDUSTRIAL-ING.SISTEMAS</option>
						<option value="11">DEFENSA TRABAJO DE GRADO-ING.SISTEMAS</option>
						<option value="12">DISEÑO ASISTIDO POR COMPUTADOR</option>
						<option value="13">ECUACIONES DIFERENCIALES</option>
						<option value="14">ELEMENTOS DE MATEMÁTICA 1</option>
						<option value="15">ELEMENTOS DE MATEMÁTICA 2</option>
						<option value="16">ESTADÍSTICA PARA INGENIEROS</option>
						<option value="17">ESTRATEGIAS INSTRUMENTALES</option>
						<option value="18">ESTRUCTURAS DE DATOS</option>
						<option value="19">ELECTIVA</option>
						<option value="20">FÍSICA I</option>
						<option value="21">FÍSICA II</option>
						<option value="22">FÍSICA III</option>
						<option value="23">GERENCIA DE PROYECTOS TIC</option>
						<option value="24">GESTIÓN DE LA CADENA DE SUMINISTRO I</option>
						<option value="25">INGENIERÍA DE SOFTWARE</option>
						<option value="26">INGENIERÍA ECONOMICA</option>
						<option value="27">INGENIERÍA AMBIENTAL</option>
						<option value="28">INGLÉS I</option>
						<option value="29">INGLÉS II</option>
						<option value="30">INGLÉS III</option>
						<option value="31">INGLÉS IV</option>
						<option value="32">INGLÉS V</option>
						<option value="33">INICIATIVA EMPRENDEDORA</option>
						<option value="34">INSTRUMENTACIÓN Y APRENDIZAJE</option>
						<option value="35">INTRODUCCIÓN A LA INGENIERÍA</option>
						<option value="36">LABORATORIO DE FÍSICA</option>
						<option value="37">LABORATORIO QUÍMICA GENERAL I</option>
						<option value="38">LECTURA Y APRENDIZAJE</option>
						<option value="39">LENGUA Y LENGUAJE</option>
						<option value="40">LENGUAJE Y UNIVERSALIDAD</option>
						<option value="41">LIDERAZGO CIUDADANO Y DES. SOSTENIBLE</option>
						<option value="42">MATEMÁTICA BÁSICA</option>
						<option value="43">MATEMÁTICA GENERAL</option>
						<option value="44">MATEMÁTICAS DISCRETAS</option>
						<option value="45">MATEMÁTICAS I</option>
						<option value="46">MATEMÁTICAS II</option>
						<option value="47">MATEMÁTICAS III</option>
						<option value="48">MATEMÁTICAS IV</option>
						<option value="49">MATEMÁTICAS V</option>
						<option value="50">MODELAC. DE SISTEMAS EN REDES</option>
						<option value="51">MODELOS ESTOCÁSTICOS</option>
						<option value="52">OPTIMIZACIÓN I</option>
						<option value="53">OPTIMIZACIÓN II</option>
						<option value="54">ORGANIZACIÓN DEL COMPUTADOR</option>
						<option value="55">PROYECTOS DE INGENIERÍA</option>
						<option value="56">QUÍMICA GENERAL I</option>
						<option value="57">RESP. SOCIAL Y PARTICIPACIÓN CIUDADANA</option>
						<option value="58">SEGURIDAD DE LA INFORMACIÓN</option>
						<option value="59">SERVICIO COMUNITARIO</option>
						<option value="60">SIMULACIÓN</option>
						<option value="61">SISTEMAS DE APOYO</option>
						<option value="62">SISTEMAS DE INFORMACIÓN</option>
						<option value="63">SISTEMAS DE REDES</option>
						<option value="64">SISTEMAS OPERATIVOS</option>
						<option value="65">TALLER DE TRABAJO DE GRADO - INGENIERÍA</option>
						<option value="66">TECNICAS DE GESTIÓN DE LA INFORMACIÓN</option>
						<option value="67">TECNOLOGÍAS PARA EL APRENDIZAJE</option>

					</select>
					<br>
					<br>
					<br>
				</div>


				<div id="idmat3" style="display: none;">
					<label>Seleccione materia</label>
					<select id="idMateria3">

						<option value="0">NINGUNA</option>
						<option value="1">ADMINISTRACIÓN DE BASES DE DATOS</option>
						<option value="2">ÁLGEBRA LINEAL</option>
						<option value="3">ALGORITMOS Y PROGRAMACIÓN</option>
						<option value="4">APRENDIENDO A EMPRENDER</option>
						<option value="5">ARQUITECTURA DEL COMPUTADOR</option>
						<option value="6">BASES DE DATOS</option>
						<option value="7">COMPETENCIAS EN ACCIÓN</option>
						<option value="8">COMPRENSIÓN DE VENEZUELA</option>
						<option value="9">COMPUTACIÓN EMERGENTE</option>
						<option value="10">DEFENSA PROYECTO INDUSTRIAL-ING.SISTEMAS</option>
						<option value="11">DEFENSA TRABAJO DE GRADO-ING.SISTEMAS</option>
						<option value="12">DISEÑO ASISTIDO POR COMPUTADOR</option>
						<option value="13">ECUACIONES DIFERENCIALES</option>
						<option value="14">ELEMENTOS DE MATEMÁTICA 1</option>
						<option value="15">ELEMENTOS DE MATEMÁTICA 2</option>
						<option value="16">ESTADÍSTICA PARA INGENIEROS</option>
						<option value="17">ESTRATEGIAS INSTRUMENTALES</option>
						<option value="18">ESTRUCTURAS DE DATOS</option>
						<option value="19">ELECTIVA</option>
						<option value="20">FÍSICA I</option>
						<option value="21">FÍSICA II</option>
						<option value="22">FÍSICA III</option>
						<option value="23">GERENCIA DE PROYECTOS TIC</option>
						<option value="24">GESTIÓN DE LA CADENA DE SUMINISTRO I</option>
						<option value="25">INGENIERÍA DE SOFTWARE</option>
						<option value="26">INGENIERÍA ECONOMICA</option>
						<option value="27">INGENIERÍA AMBIENTAL</option>
						<option value="28">INGLÉS I</option>
						<option value="29">INGLÉS II</option>
						<option value="30">INGLÉS III</option>
						<option value="31">INGLÉS IV</option>
						<option value="32">INGLÉS V</option>
						<option value="33">INICIATIVA EMPRENDEDORA</option>
						<option value="34">INSTRUMENTACIÓN Y APRENDIZAJE</option>
						<option value="35">INTRODUCCIÓN A LA INGENIERÍA</option>
						<option value="36">LABORATORIO DE FÍSICA</option>
						<option value="37">LABORATORIO QUÍMICA GENERAL I</option>
						<option value="38">LECTURA Y APRENDIZAJE</option>
						<option value="39">LENGUA Y LENGUAJE</option>
						<option value="40">LENGUAJE Y UNIVERSALIDAD</option>
						<option value="41">LIDERAZGO CIUDADANO Y DES. SOSTENIBLE</option>
						<option value="42">MATEMÁTICA BÁSICA</option>
						<option value="43">MATEMÁTICA GENERAL</option>
						<option value="44">MATEMÁTICAS DISCRETAS</option>
						<option value="45">MATEMÁTICAS I</option>
						<option value="46">MATEMÁTICAS II</option>
						<option value="47">MATEMÁTICAS III</option>
						<option value="48">MATEMÁTICAS IV</option>
						<option value="49">MATEMÁTICAS V</option>
						<option value="50">MODELAC. DE SISTEMAS EN REDES</option>
						<option value="51">MODELOS ESTOCÁSTICOS</option>
						<option value="52">OPTIMIZACIÓN I</option>
						<option value="53">OPTIMIZACIÓN II</option>
						<option value="54">ORGANIZACIÓN DEL COMPUTADOR</option>
						<option value="55">PROYECTOS DE INGENIERÍA</option>
						<option value="56">QUÍMICA GENERAL I</option>
						<option value="57">RESP. SOCIAL Y PARTICIPACIÓN CIUDADANA</option>
						<option value="58">SEGURIDAD DE LA INFORMACIÓN</option>
						<option value="59">SERVICIO COMUNITARIO</option>
						<option value="60">SIMULACIÓN</option>
						<option value="61">SISTEMAS DE APOYO</option>
						<option value="62">SISTEMAS DE INFORMACIÓN</option>
						<option value="63">SISTEMAS DE REDES</option>
						<option value="64">SISTEMAS OPERATIVOS</option>
						<option value="65">TALLER DE TRABAJO DE GRADO - INGENIERÍA</option>
						<option value="66">TECNICAS DE GESTIÓN DE LA INFORMACIÓN</option>
						<option value="67">TECNOLOGÍAS PARA EL APRENDIZAJE</option>

					</select>
					<br>
					<br>
					<br>
				</div>


				<div id="idmat4" style="display: none;">
					<label>Seleccione materia</label>
					<select id="idMateria4">

						<option value="0">NINGUNA</option>
						<option value="1">ADMINISTRACIÓN DE BASES DE DATOS</option>
						<option value="2">ÁLGEBRA LINEAL</option>
						<option value="3">ALGORITMOS Y PROGRAMACIÓN</option>
						<option value="4">APRENDIENDO A EMPRENDER</option>
						<option value="5">ARQUITECTURA DEL COMPUTADOR</option>
						<option value="6">BASES DE DATOS</option>
						<option value="7">COMPETENCIAS EN ACCIÓN</option>
						<option value="8">COMPRENSIÓN DE VENEZUELA</option>
						<option value="9">COMPUTACIÓN EMERGENTE</option>
						<option value="10">DEFENSA PROYECTO INDUSTRIAL-ING.SISTEMAS</option>
						<option value="11">DEFENSA TRABAJO DE GRADO-ING.SISTEMAS</option>
						<option value="12">DISEÑO ASISTIDO POR COMPUTADOR</option>
						<option value="13">ECUACIONES DIFERENCIALES</option>
						<option value="14">ELEMENTOS DE MATEMÁTICA 1</option>
						<option value="15">ELEMENTOS DE MATEMÁTICA 2</option>
						<option value="16">ESTADÍSTICA PARA INGENIEROS</option>
						<option value="17">ESTRATEGIAS INSTRUMENTALES</option>
						<option value="18">ESTRUCTURAS DE DATOS</option>
						<option value="19">ELECTIVA</option>
						<option value="20">FÍSICA I</option>
						<option value="21">FÍSICA II</option>
						<option value="22">FÍSICA III</option>
						<option value="23">GERENCIA DE PROYECTOS TIC</option>
						<option value="24">GESTIÓN DE LA CADENA DE SUMINISTRO I</option>
						<option value="25">INGENIERÍA DE SOFTWARE</option>
						<option value="26">INGENIERÍA ECONOMICA</option>
						<option value="27">INGENIERÍA AMBIENTAL</option>
						<option value="28">INGLÉS I</option>
						<option value="29">INGLÉS II</option>
						<option value="30">INGLÉS III</option>
						<option value="31">INGLÉS IV</option>
						<option value="32">INGLÉS V</option>
						<option value="33">INICIATIVA EMPRENDEDORA</option>
						<option value="34">INSTRUMENTACIÓN Y APRENDIZAJE</option>
						<option value="35">INTRODUCCIÓN A LA INGENIERÍA</option>
						<option value="36">LABORATORIO DE FÍSICA</option>
						<option value="37">LABORATORIO QUÍMICA GENERAL I</option>
						<option value="38">LECTURA Y APRENDIZAJE</option>
						<option value="39">LENGUA Y LENGUAJE</option>
						<option value="40">LENGUAJE Y UNIVERSALIDAD</option>
						<option value="41">LIDERAZGO CIUDADANO Y DES. SOSTENIBLE</option>
						<option value="42">MATEMÁTICA BÁSICA</option>
						<option value="43">MATEMÁTICA GENERAL</option>
						<option value="44">MATEMÁTICAS DISCRETAS</option>
						<option value="45">MATEMÁTICAS I</option>
						<option value="46">MATEMÁTICAS II</option>
						<option value="47">MATEMÁTICAS III</option>
						<option value="48">MATEMÁTICAS IV</option>
						<option value="49">MATEMÁTICAS V</option>
						<option value="50">MODELAC. DE SISTEMAS EN REDES</option>
						<option value="51">MODELOS ESTOCÁSTICOS</option>
						<option value="52">OPTIMIZACIÓN I</option>
						<option value="53">OPTIMIZACIÓN II</option>
						<option value="54">ORGANIZACIÓN DEL COMPUTADOR</option>
						<option value="55">PROYECTOS DE INGENIERÍA</option>
						<option value="56">QUÍMICA GENERAL I</option>
						<option value="57">RESP. SOCIAL Y PARTICIPACIÓN CIUDADANA</option>
						<option value="58">SEGURIDAD DE LA INFORMACIÓN</option>
						<option value="59">SERVICIO COMUNITARIO</option>
						<option value="60">SIMULACIÓN</option>
						<option value="61">SISTEMAS DE APOYO</option>
						<option value="62">SISTEMAS DE INFORMACIÓN</option>
						<option value="63">SISTEMAS DE REDES</option>
						<option value="64">SISTEMAS OPERATIVOS</option>
						<option value="65">TALLER DE TRABAJO DE GRADO - INGENIERÍA</option>
						<option value="66">TECNICAS DE GESTIÓN DE LA INFORMACIÓN</option>
						<option value="67">TECNOLOGÍAS PARA EL APRENDIZAJE</option>

					</select>
					<br>
					<br>
					<br>
				</div>


				<div id="idmat5" style="display: none;">
					<label>Seleccione materia</label>
					<select id="idMateria5">

						<option value="0">NINGUNA</option>
						<option value="1">ADMINISTRACIÓN DE BASES DE DATOS</option>
						<option value="2">ÁLGEBRA LINEAL</option>
						<option value="3">ALGORITMOS Y PROGRAMACIÓN</option>
						<option value="4">APRENDIENDO A EMPRENDER</option>
						<option value="5">ARQUITECTURA DEL COMPUTADOR</option>
						<option value="6">BASES DE DATOS</option>
						<option value="7">COMPETENCIAS EN ACCIÓN</option>
						<option value="8">COMPRENSIÓN DE VENEZUELA</option>
						<option value="9">COMPUTACIÓN EMERGENTE</option>
						<option value="10">DEFENSA PROYECTO INDUSTRIAL-ING.SISTEMAS</option>
						<option value="11">DEFENSA TRABAJO DE GRADO-ING.SISTEMAS</option>
						<option value="12">DISEÑO ASISTIDO POR COMPUTADOR</option>
						<option value="13">ECUACIONES DIFERENCIALES</option>
						<option value="14">ELEMENTOS DE MATEMÁTICA 1</option>
						<option value="15">ELEMENTOS DE MATEMÁTICA 2</option>
						<option value="16">ESTADÍSTICA PARA INGENIEROS</option>
						<option value="17">ESTRATEGIAS INSTRUMENTALES</option>
						<option value="18">ESTRUCTURAS DE DATOS</option>
						<option value="19">ELECTIVA</option>
						<option value="20">FÍSICA I</option>
						<option value="21">FÍSICA II</option>
						<option value="22">FÍSICA III</option>
						<option value="23">GERENCIA DE PROYECTOS TIC</option>
						<option value="24">GESTIÓN DE LA CADENA DE SUMINISTRO I</option>
						<option value="25">INGENIERÍA DE SOFTWARE</option>
						<option value="26">INGENIERÍA ECONOMICA</option>
						<option value="27">INGENIERÍA AMBIENTAL</option>
						<option value="28">INGLÉS I</option>
						<option value="29">INGLÉS II</option>
						<option value="30">INGLÉS III</option>
						<option value="31">INGLÉS IV</option>
						<option value="32">INGLÉS V</option>
						<option value="33">INICIATIVA EMPRENDEDORA</option>
						<option value="34">INSTRUMENTACIÓN Y APRENDIZAJE</option>
						<option value="35">INTRODUCCIÓN A LA INGENIERÍA</option>
						<option value="36">LABORATORIO DE FÍSICA</option>
						<option value="37">LABORATORIO QUÍMICA GENERAL I</option>
						<option value="38">LECTURA Y APRENDIZAJE</option>
						<option value="39">LENGUA Y LENGUAJE</option>
						<option value="40">LENGUAJE Y UNIVERSALIDAD</option>
						<option value="41">LIDERAZGO CIUDADANO Y DES. SOSTENIBLE</option>
						<option value="42">MATEMÁTICA BÁSICA</option>
						<option value="43">MATEMÁTICA GENERAL</option>
						<option value="44">MATEMÁTICAS DISCRETAS</option>
						<option value="45">MATEMÁTICAS I</option>
						<option value="46">MATEMÁTICAS II</option>
						<option value="47">MATEMÁTICAS III</option>
						<option value="48">MATEMÁTICAS IV</option>
						<option value="49">MATEMÁTICAS V</option>
						<option value="50">MODELAC. DE SISTEMAS EN REDES</option>
						<option value="51">MODELOS ESTOCÁSTICOS</option>
						<option value="52">OPTIMIZACIÓN I</option>
						<option value="53">OPTIMIZACIÓN II</option>
						<option value="54">ORGANIZACIÓN DEL COMPUTADOR</option>
						<option value="55">PROYECTOS DE INGENIERÍA</option>
						<option value="56">QUÍMICA GENERAL I</option>
						<option value="57">RESP. SOCIAL Y PARTICIPACIÓN CIUDADANA</option>
						<option value="58">SEGURIDAD DE LA INFORMACIÓN</option>
						<option value="59">SERVICIO COMUNITARIO</option>
						<option value="60">SIMULACIÓN</option>
						<option value="61">SISTEMAS DE APOYO</option>
						<option value="62">SISTEMAS DE INFORMACIÓN</option>
						<option value="63">SISTEMAS DE REDES</option>
						<option value="64">SISTEMAS OPERATIVOS</option>
						<option value="65">TALLER DE TRABAJO DE GRADO - INGENIERÍA</option>
						<option value="66">TECNICAS DE GESTIÓN DE LA INFORMACIÓN</option>
						<option value="67">TECNOLOGÍAS PARA EL APRENDIZAJE</option>

					</select>
					<br>
					<br>
					<br>
				</div>


				<div id="idmat6" style="display: none;">
					<label>Seleccione materia</label>
					<select id="idMateria6">

						<option value="0">NINGUNA</option>
						<option value="1">ADMINISTRACIÓN DE BASES DE DATOS</option>
						<option value="2">ÁLGEBRA LINEAL</option>
						<option value="3">ALGORITMOS Y PROGRAMACIÓN</option>
						<option value="4">APRENDIENDO A EMPRENDER</option>
						<option value="5">ARQUITECTURA DEL COMPUTADOR</option>
						<option value="6">BASES DE DATOS</option>
						<option value="7">COMPETENCIAS EN ACCIÓN</option>
						<option value="8">COMPRENSIÓN DE VENEZUELA</option>
						<option value="9">COMPUTACIÓN EMERGENTE</option>
						<option value="10">DEFENSA PROYECTO INDUSTRIAL-ING.SISTEMAS</option>
						<option value="11">DEFENSA TRABAJO DE GRADO-ING.SISTEMAS</option>
						<option value="12">DISEÑO ASISTIDO POR COMPUTADOR</option>
						<option value="13">ECUACIONES DIFERENCIALES</option>
						<option value="14">ELEMENTOS DE MATEMÁTICA 1</option>
						<option value="15">ELEMENTOS DE MATEMÁTICA 2</option>
						<option value="16">ESTADÍSTICA PARA INGENIEROS</option>
						<option value="17">ESTRATEGIAS INSTRUMENTALES</option>
						<option value="18">ESTRUCTURAS DE DATOS</option>
						<option value="19">ELECTIVA</option>
						<option value="20">FÍSICA I</option>
						<option value="21">FÍSICA II</option>
						<option value="22">FÍSICA III</option>
						<option value="23">GERENCIA DE PROYECTOS TIC</option>
						<option value="24">GESTIÓN DE LA CADENA DE SUMINISTRO I</option>
						<option value="25">INGENIERÍA DE SOFTWARE</option>
						<option value="26">INGENIERÍA ECONOMICA</option>
						<option value="27">INGENIERÍA AMBIENTAL</option>
						<option value="28">INGLÉS I</option>
						<option value="29">INGLÉS II</option>
						<option value="30">INGLÉS III</option>
						<option value="31">INGLÉS IV</option>
						<option value="32">INGLÉS V</option>
						<option value="33">INICIATIVA EMPRENDEDORA</option>
						<option value="34">INSTRUMENTACIÓN Y APRENDIZAJE</option>
						<option value="35">INTRODUCCIÓN A LA INGENIERÍA</option>
						<option value="36">LABORATORIO DE FÍSICA</option>
						<option value="37">LABORATORIO QUÍMICA GENERAL I</option>
						<option value="38">LECTURA Y APRENDIZAJE</option>
						<option value="39">LENGUA Y LENGUAJE</option>
						<option value="40">LENGUAJE Y UNIVERSALIDAD</option>
						<option value="41">LIDERAZGO CIUDADANO Y DES. SOSTENIBLE</option>
						<option value="42">MATEMÁTICA BÁSICA</option>
						<option value="43">MATEMÁTICA GENERAL</option>
						<option value="44">MATEMÁTICAS DISCRETAS</option>
						<option value="45">MATEMÁTICAS I</option>
						<option value="46">MATEMÁTICAS II</option>
						<option value="47">MATEMÁTICAS III</option>
						<option value="48">MATEMÁTICAS IV</option>
						<option value="49">MATEMÁTICAS V</option>
						<option value="50">MODELAC. DE SISTEMAS EN REDES</option>
						<option value="51">MODELOS ESTOCÁSTICOS</option>
						<option value="52">OPTIMIZACIÓN I</option>
						<option value="53">OPTIMIZACIÓN II</option>
						<option value="54">ORGANIZACIÓN DEL COMPUTADOR</option>
						<option value="55">PROYECTOS DE INGENIERÍA</option>
						<option value="56">QUÍMICA GENERAL I</option>
						<option value="57">RESP. SOCIAL Y PARTICIPACIÓN CIUDADANA</option>
						<option value="58">SEGURIDAD DE LA INFORMACIÓN</option>
						<option value="59">SERVICIO COMUNITARIO</option>
						<option value="60">SIMULACIÓN</option>
						<option value="61">SISTEMAS DE APOYO</option>
						<option value="62">SISTEMAS DE INFORMACIÓN</option>
						<option value="63">SISTEMAS DE REDES</option>
						<option value="64">SISTEMAS OPERATIVOS</option>
						<option value="65">TALLER DE TRABAJO DE GRADO - INGENIERÍA</option>
						<option value="66">TECNICAS DE GESTIÓN DE LA INFORMACIÓN</option>
						<option value="67">TECNOLOGÍAS PARA EL APRENDIZAJE</option>

					</select>
					<br>
					<br>
					<br>
				</div>


				<div id="idmat7" style="display: none;">
					<label>Seleccione materia</label>
					<select id="idMateria7">

						<option value="0">NINGUNA</option>
						<option value="1">ADMINISTRACIÓN DE BASES DE DATOS</option>
						<option value="2">ÁLGEBRA LINEAL</option>
						<option value="3">ALGORITMOS Y PROGRAMACIÓN</option>
						<option value="4">APRENDIENDO A EMPRENDER</option>
						<option value="5">ARQUITECTURA DEL COMPUTADOR</option>
						<option value="6">BASES DE DATOS</option>
						<option value="7">COMPETENCIAS EN ACCIÓN</option>
						<option value="8">COMPRENSIÓN DE VENEZUELA</option>
						<option value="9">COMPUTACIÓN EMERGENTE</option>
						<option value="10">DEFENSA PROYECTO INDUSTRIAL-ING.SISTEMAS</option>
						<option value="11">DEFENSA TRABAJO DE GRADO-ING.SISTEMAS</option>
						<option value="12">DISEÑO ASISTIDO POR COMPUTADOR</option>
						<option value="13">ECUACIONES DIFERENCIALES</option>
						<option value="14">ELEMENTOS DE MATEMÁTICA 1</option>
						<option value="15">ELEMENTOS DE MATEMÁTICA 2</option>
						<option value="16">ESTADÍSTICA PARA INGENIEROS</option>
						<option value="17">ESTRATEGIAS INSTRUMENTALES</option>
						<option value="18">ESTRUCTURAS DE DATOS</option>
						<option value="19">ELECTIVA</option>
						<option value="20">FÍSICA I</option>
						<option value="21">FÍSICA II</option>
						<option value="22">FÍSICA III</option>
						<option value="23">GERENCIA DE PROYECTOS TIC</option>
						<option value="24">GESTIÓN DE LA CADENA DE SUMINISTRO I</option>
						<option value="25">INGENIERÍA DE SOFTWARE</option>
						<option value="26">INGENIERÍA ECONOMICA</option>
						<option value="27">INGENIERÍA AMBIENTAL</option>
						<option value="28">INGLÉS I</option>
						<option value="29">INGLÉS II</option>
						<option value="30">INGLÉS III</option>
						<option value="31">INGLÉS IV</option>
						<option value="32">INGLÉS V</option>
						<option value="33">INICIATIVA EMPRENDEDORA</option>
						<option value="34">INSTRUMENTACIÓN Y APRENDIZAJE</option>
						<option value="35">INTRODUCCIÓN A LA INGENIERÍA</option>
						<option value="36">LABORATORIO DE FÍSICA</option>
						<option value="37">LABORATORIO QUÍMICA GENERAL I</option>
						<option value="38">LECTURA Y APRENDIZAJE</option>
						<option value="39">LENGUA Y LENGUAJE</option>
						<option value="40">LENGUAJE Y UNIVERSALIDAD</option>
						<option value="41">LIDERAZGO CIUDADANO Y DES. SOSTENIBLE</option>
						<option value="42">MATEMÁTICA BÁSICA</option>
						<option value="43">MATEMÁTICA GENERAL</option>
						<option value="44">MATEMÁTICAS DISCRETAS</option>
						<option value="45">MATEMÁTICAS I</option>
						<option value="46">MATEMÁTICAS II</option>
						<option value="47">MATEMÁTICAS III</option>
						<option value="48">MATEMÁTICAS IV</option>
						<option value="49">MATEMÁTICAS V</option>
						<option value="50">MODELAC. DE SISTEMAS EN REDES</option>
						<option value="51">MODELOS ESTOCÁSTICOS</option>
						<option value="52">OPTIMIZACIÓN I</option>
						<option value="53">OPTIMIZACIÓN II</option>
						<option value="54">ORGANIZACIÓN DEL COMPUTADOR</option>
						<option value="55">PROYECTOS DE INGENIERÍA</option>
						<option value="56">QUÍMICA GENERAL I</option>
						<option value="57">RESP. SOCIAL Y PARTICIPACIÓN CIUDADANA</option>
						<option value="58">SEGURIDAD DE LA INFORMACIÓN</option>
						<option value="59">SERVICIO COMUNITARIO</option>
						<option value="60">SIMULACIÓN</option>
						<option value="61">SISTEMAS DE APOYO</option>
						<option value="62">SISTEMAS DE INFORMACIÓN</option>
						<option value="63">SISTEMAS DE REDES</option>
						<option value="64">SISTEMAS OPERATIVOS</option>
						<option value="65">TALLER DE TRABAJO DE GRADO - INGENIERÍA</option>
						<option value="66">TECNICAS DE GESTIÓN DE LA INFORMACIÓN</option>
						<option value="67">TECNOLOGÍAS PARA EL APRENDIZAJE</option>

					</select>
					<br>
					<br>
				</div>

			</ul>
			<p>
				<input id="apredecir" type="hidden" name="array">
			</p>



			<script type="text/javascript">
				function ObtenerMaterias() {
					/* Para obtener los valores */
					var cod1 = document.getElementById("idMateria1").value;
					var cod2 = document.getElementById("idMateria2").value;
					var cod3 = document.getElementById("idMateria3").value;
					var cod4 = document.getElementById("idMateria4").value;
					var cod5 = document.getElementById("idMateria5").value;
					var cod6 = document.getElementById("idMateria6").value;
					var cod7 = document.getElementById("idMateria7").value;
					var array = [cod1, cod2, cod3, cod4, cod5, cod6, cod7]
					var stringArray = JSON.stringify(array);
					document.getElementById("apredecir").value = array

					/*Evitar que se inserten materias iguales*/
					/*for (var i = 0; i < array.length; i++) {
						for (var j = 0; j < array.length; j++) {
							if (array[i] == array[j] && i != j && array[i] != 0 && array[k] != 0) {
								break;
							}
						}
					}*/
				}
			</script>
			<p>
				<input id="submit" type="submit" value="Ver Materias" class="w3-button w3-green w3-round-xlarge"  onclick="ObtenerMaterias()">
			</p>
		</p>
	</fieldset>
	</form>
</body>

</html>