<!doctype html>
<html lang="en">
<title>Python Flask File Upload Example</title>
<h2>Select a file to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
</p>

<head>
	<script type="text/javascript">
		function mostrarMat() {
			divi1 = document.getElementById('idmat1');
			divi2 = document.getElementById('idmat2');
			divi3 = document.getElementById('idmat3');
			divi4 = document.getElementById('idmat4');
			divi5 = document.getElementById('idmat5');
			divi6 = document.getElementById('idmat6');
			divi7 = document.getElementById('idmat7');
			var aux = [divi1, divi2, divi3, divi4, divi5, divi6, divi7];
			var arr = [];
			var rept = document.getElementById("mataPredecir").value;
			for (var l = 0; l < rept; l++) {
				arr[l] = aux[l]
			}
			if (rept != 0) {
				for (var j = rept + 1; j < 7; j++) {
					if (arr[j].style.display === 'table') {
						arr[j].style.display = 'none';
					}
				}
				for (var i = 0; i < rept; i++) {
					arr[i].style.display = 'table';
				}
			} else {
				arr[i].style.display = 'none';
			}
		}
	</script>
</head>

<body>
	<form method="post" action="/" enctype="multipart/form-data">
		<dl>
			<p>
				<input type="file" name="file" autocomplete="off" required>
			</p>
		</dl>

		<fieldset>
			<legend>Seleccione las materias que va a inscribir este trimestre</legend>
			<p>

				<label>Seleccione cantidad de materias a inscribir (Entre 1 y 7 materias)</label>

				<ul>

					<input type="number" min="1" max="7" name="mataPredecir" id="mataPredecir" required>
					<p>
						<input type="button" value="Aceptar" onclick="javascript:mostrarMat()">
					</p>

					<div id="idmat1" style="display: none;">
						<label>Seleccione materia</label>
						<select id="idMateria1" required>

							<option value=""></option>
							<option value="1">ADMINISTRACION DE BASES DE DATOS</option>
							<option value="2">ALGEBRA LINEAL</option>
							<option value="3">ALGORITMOS Y PROGRAMACION</option>
							<option value="4">APRENDIENDO A EMPRENDER</option>
							<option value="5">ARQUITECTURA DEL COMPUTADOR</option>
							<option value="6">BASES DE DATOS</option>
							<option value="7">COMPETENCIAS EN ACCION</option>
							<option value="8">COMPRENSION DE VENEZUELA</option>
							<option value="9">COMPUTACION EMERGENTE</option>
							<option value="10">DEFENSA PROYECTO INDUSTRIAL-ING.SISTEMAS</option>
							<option value="11">DEFENSA TRABAJO DE GRADO-ING.SISTEMAS</option>
							<option value="12">DISEñO ASISTIDO POR COMPUTADOR</option>
							<option value="13">ECUACIONES DIFERENCIALES</option>
							<option value="14">ELEMENTOS DE MATEMATICA 1</option>
							<option value="15">ELEMENTOS DE MATEMATICA 2</option>
							<option value="16">ESTADISTICA PARA INGENIEROS</option>
							<option value="17">ESTRATEGIAS INSTRUMENTALES</option>
							<option value="18">ESTRUCTURAS DE DATOS</option>
							<option value="19">Electiva</option>
							<option value="20">FISICA I</option>
							<option value="21">FISICA II</option>
							<option value="22">FISICA III</option>
							<option value="23">GERENCIA DE PROYECTOS TIC</option>
							<option value="24">GESTIÓN DE LA CADENA DE SUMINISTRO I</option>
							<option value="25">INGENIERIA DE SOFTWARE</option>
							<option value="26">INGENIERIA ECONOMICA</option>
							<option value="27">INGENIERÍA AMBIENTAL</option>
							<option value="28">INGLES I</option>
							<option value="29">INGLES II</option>
							<option value="30">INGLES III</option>
							<option value="31">INGLES IV</option>
							<option value="32">INGLES V</option>
							<option value="33">INICIATIVA EMPRENDEDORA</option>
							<option value="34">INSTRUMENTACION Y APRENDIZAJE</option>
							<option value="35">INTRODUCCION A LA INGENIERIA</option>
							<option value="36">LABORATORIO DE FISICA</option>
							<option value="37">LABORATORIO QUIMICA GENERAL I</option>
							<option value="38">LECTURA Y APRENDIZAJE</option>
							<option value="39">LENGUA Y LENGUAJE</option>
							<option value="40">LENGUAJE Y UNIVERSALIDAD</option>
							<option value="41">LIDERAZGO CIUDADANO Y DES. SOSTENIBLE</option>
							<option value="42">MATEMATICA BASICA</option>
							<option value="43">MATEMATICA GENERAL</option>
							<option value="44">MATEMATICAS DISCRETAS</option>
							<option value="45">MATEMATICAS I</option>
							<option value="46">MATEMATICAS II</option>
							<option value="47">MATEMATICAS III</option>
							<option value="48">MATEMATICAS IV</option>
							<option value="49">MATEMATICAS V</option>
							<option value="50">MODELAC. DE SISTEMAS EN REDES</option>
							<option value="51">MODELOS ESTOCASTICOS</option>
							<option value="52">OPTIMIZACION I</option>
							<option value="53">OPTIMIZACION II</option>
							<option value="54">ORGANIZACION DEL COMPUTADOR</option>
							<option value="55">PROYECTOS DE INGENIERIA</option>
							<option value="56">QUIMICA GENERAL I</option>
							<option value="57">RESP. SOCIAL Y PARTICIPACION CIUDADANA</option>
							<option value="58">SEGURIDAD DE LA INFORMACIÖN</option>
							<option value="59">SERVICIO COMUNITARIO</option>
							<option value="60">SIMULACIÓN</option>
							<option value="61">SISTEMAS DE APOYO</option>
							<option value="62">SISTEMAS DE INFORMACION</option>
							<option value="63">SISTEMAS DE REDES</option>
							<option value="64">SISTEMAS OPERATIVOS</option>
							<option value="65">TALLER DE TRABAJO DE GRADO - INGENIERÍA</option>
							<option value="66">TECNICAS DE GESTION DE LA INFORMACION</option>
							<option value="67">TECNOLOGIAS PARA EL APRENDIZAJE</option>

						</select>
						<br>
						<br>
						<br>
					</div>


					<div id="idmat2" style="display: none;">
						<label>Seleccione materia</label>
						<select id="idMateria2">

							<option value="0">NINGUNA</option>
							<option value="1">ADMINISTRACION DE BASES DE DATOS</option>
							<option value="2">ALGEBRA LINEAL</option>
							<option value="3">ALGORITMOS Y PROGRAMACION</option>
							<option value="4">APRENDIENDO A EMPRENDER</option>
							<option value="5">ARQUITECTURA DEL COMPUTADOR</option>
							<option value="6">BASES DE DATOS</option>
							<option value="7">COMPETENCIAS EN ACCION</option>
							<option value="8">COMPRENSION DE VENEZUELA</option>
							<option value="9">COMPUTACION EMERGENTE</option>
							<option value="10">DEFENSA PROYECTO INDUSTRIAL-ING.SISTEMAS</option>
							<option value="11">DEFENSA TRABAJO DE GRADO-ING.SISTEMAS</option>
							<option value="12">DISEñO ASISTIDO POR COMPUTADOR</option>
							<option value="13">ECUACIONES DIFERENCIALES</option>
							<option value="14">ELEMENTOS DE MATEMATICA 1</option>
							<option value="15">ELEMENTOS DE MATEMATICA 2</option>
							<option value="16">ESTADISTICA PARA INGENIEROS</option>
							<option value="17">ESTRATEGIAS INSTRUMENTALES</option>
							<option value="18">ESTRUCTURAS DE DATOS</option>
							<option value="19">Electiva</option>
							<option value="20">FISICA I</option>
							<option value="21">FISICA II</option>
							<option value="22">FISICA III</option>
							<option value="23">GERENCIA DE PROYECTOS TIC</option>
							<option value="24">GESTIÓN DE LA CADENA DE SUMINISTRO I</option>
							<option value="25">INGENIERIA DE SOFTWARE</option>
							<option value="26">INGENIERIA ECONOMICA</option>
							<option value="27">INGENIERÍA AMBIENTAL</option>
							<option value="28">INGLES I</option>
							<option value="29">INGLES II</option>
							<option value="30">INGLES III</option>
							<option value="31">INGLES IV</option>
							<option value="32">INGLES V</option>
							<option value="33">INICIATIVA EMPRENDEDORA</option>
							<option value="34">INSTRUMENTACION Y APRENDIZAJE</option>
							<option value="35">INTRODUCCION A LA INGENIERIA</option>
							<option value="36">LABORATORIO DE FISICA</option>
							<option value="37">LABORATORIO QUIMICA GENERAL I</option>
							<option value="38">LECTURA Y APRENDIZAJE</option>
							<option value="39">LENGUA Y LENGUAJE</option>
							<option value="40">LENGUAJE Y UNIVERSALIDAD</option>
							<option value="41">LIDERAZGO CIUDADANO Y DES. SOSTENIBLE</option>
							<option value="42">MATEMATICA BASICA</option>
							<option value="43">MATEMATICA GENERAL</option>
							<option value="44">MATEMATICAS DISCRETAS</option>
							<option value="45">MATEMATICAS I</option>
							<option value="46">MATEMATICAS II</option>
							<option value="47">MATEMATICAS III</option>
							<option value="48">MATEMATICAS IV</option>
							<option value="49">MATEMATICAS V</option>
							<option value="50">MODELAC. DE SISTEMAS EN REDES</option>
							<option value="51">MODELOS ESTOCASTICOS</option>
							<option value="52">OPTIMIZACION I</option>
							<option value="53">OPTIMIZACION II</option>
							<option value="54">ORGANIZACION DEL COMPUTADOR</option>
							<option value="55">PROYECTOS DE INGENIERIA</option>
							<option value="56">QUIMICA GENERAL I</option>
							<option value="57">RESP. SOCIAL Y PARTICIPACION CIUDADANA</option>
							<option value="58">SEGURIDAD DE LA INFORMACIÖN</option>
							<option value="59">SERVICIO COMUNITARIO</option>
							<option value="60">SIMULACIÓN</option>
							<option value="61">SISTEMAS DE APOYO</option>
							<option value="62">SISTEMAS DE INFORMACION</option>
							<option value="63">SISTEMAS DE REDES</option>
							<option value="64">SISTEMAS OPERATIVOS</option>
							<option value="65">TALLER DE TRABAJO DE GRADO - INGENIERÍA</option>
							<option value="66">TECNICAS DE GESTION DE LA INFORMACION</option>
							<option value="67">TECNOLOGIAS PARA EL APRENDIZAJE</option>

						</select>
						<br>
						<br>
						<br>
					</div>


					<div id="idmat3" style="display: none;">
						<label>Seleccione materia</label>
						<select id="idMateria3">

							<option value="0">NINGUNA</option>
							<option value="1">ADMINISTRACION DE BASES DE DATOS</option>
							<option value="2">ALGEBRA LINEAL</option>
							<option value="3">ALGORITMOS Y PROGRAMACION</option>
							<option value="4">APRENDIENDO A EMPRENDER</option>
							<option value="5">ARQUITECTURA DEL COMPUTADOR</option>
							<option value="6">BASES DE DATOS</option>
							<option value="7">COMPETENCIAS EN ACCION</option>
							<option value="8">COMPRENSION DE VENEZUELA</option>
							<option value="9">COMPUTACION EMERGENTE</option>
							<option value="10">DEFENSA PROYECTO INDUSTRIAL-ING.SISTEMAS</option>
							<option value="11">DEFENSA TRABAJO DE GRADO-ING.SISTEMAS</option>
							<option value="12">DISEñO ASISTIDO POR COMPUTADOR</option>
							<option value="13">ECUACIONES DIFERENCIALES</option>
							<option value="14">ELEMENTOS DE MATEMATICA 1</option>
							<option value="15">ELEMENTOS DE MATEMATICA 2</option>
							<option value="16">ESTADISTICA PARA INGENIEROS</option>
							<option value="17">ESTRATEGIAS INSTRUMENTALES</option>
							<option value="18">ESTRUCTURAS DE DATOS</option>
							<option value="19">Electiva</option>
							<option value="20">FISICA I</option>
							<option value="21">FISICA II</option>
							<option value="22">FISICA III</option>
							<option value="23">GERENCIA DE PROYECTOS TIC</option>
							<option value="24">GESTIÓN DE LA CADENA DE SUMINISTRO I</option>
							<option value="25">INGENIERIA DE SOFTWARE</option>
							<option value="26">INGENIERIA ECONOMICA</option>
							<option value="27">INGENIERÍA AMBIENTAL</option>
							<option value="28">INGLES I</option>
							<option value="29">INGLES II</option>
							<option value="30">INGLES III</option>
							<option value="31">INGLES IV</option>
							<option value="32">INGLES V</option>
							<option value="33">INICIATIVA EMPRENDEDORA</option>
							<option value="34">INSTRUMENTACION Y APRENDIZAJE</option>
							<option value="35">INTRODUCCION A LA INGENIERIA</option>
							<option value="36">LABORATORIO DE FISICA</option>
							<option value="37">LABORATORIO QUIMICA GENERAL I</option>
							<option value="38">LECTURA Y APRENDIZAJE</option>
							<option value="39">LENGUA Y LENGUAJE</option>
							<option value="40">LENGUAJE Y UNIVERSALIDAD</option>
							<option value="41">LIDERAZGO CIUDADANO Y DES. SOSTENIBLE</option>
							<option value="42">MATEMATICA BASICA</option>
							<option value="43">MATEMATICA GENERAL</option>
							<option value="44">MATEMATICAS DISCRETAS</option>
							<option value="45">MATEMATICAS I</option>
							<option value="46">MATEMATICAS II</option>
							<option value="47">MATEMATICAS III</option>
							<option value="48">MATEMATICAS IV</option>
							<option value="49">MATEMATICAS V</option>
							<option value="50">MODELAC. DE SISTEMAS EN REDES</option>
							<option value="51">MODELOS ESTOCASTICOS</option>
							<option value="52">OPTIMIZACION I</option>
							<option value="53">OPTIMIZACION II</option>
							<option value="54">ORGANIZACION DEL COMPUTADOR</option>
							<option value="55">PROYECTOS DE INGENIERIA</option>
							<option value="56">QUIMICA GENERAL I</option>
							<option value="57">RESP. SOCIAL Y PARTICIPACION CIUDADANA</option>
							<option value="58">SEGURIDAD DE LA INFORMACIÖN</option>
							<option value="59">SERVICIO COMUNITARIO</option>
							<option value="60">SIMULACIÓN</option>
							<option value="61">SISTEMAS DE APOYO</option>
							<option value="62">SISTEMAS DE INFORMACION</option>
							<option value="63">SISTEMAS DE REDES</option>
							<option value="64">SISTEMAS OPERATIVOS</option>
							<option value="65">TALLER DE TRABAJO DE GRADO - INGENIERÍA</option>
							<option value="66">TECNICAS DE GESTION DE LA INFORMACION</option>
							<option value="67">TECNOLOGIAS PARA EL APRENDIZAJE</option>

						</select>
						<br>
						<br>
						<br>
					</div>


					<div id="idmat4" style="display: none;">
						<label>Seleccione materia</label>
						<select id="idMateria4">

							<option value="0">NINGUNA</option>
							<option value="1">ADMINISTRACION DE BASES DE DATOS</option>
							<option value="2">ALGEBRA LINEAL</option>
							<option value="3">ALGORITMOS Y PROGRAMACION</option>
							<option value="4">APRENDIENDO A EMPRENDER</option>
							<option value="5">ARQUITECTURA DEL COMPUTADOR</option>
							<option value="6">BASES DE DATOS</option>
							<option value="7">COMPETENCIAS EN ACCION</option>
							<option value="8">COMPRENSION DE VENEZUELA</option>
							<option value="9">COMPUTACION EMERGENTE</option>
							<option value="10">DEFENSA PROYECTO INDUSTRIAL-ING.SISTEMAS</option>
							<option value="11">DEFENSA TRABAJO DE GRADO-ING.SISTEMAS</option>
							<option value="12">DISEñO ASISTIDO POR COMPUTADOR</option>
							<option value="13">ECUACIONES DIFERENCIALES</option>
							<option value="14">ELEMENTOS DE MATEMATICA 1</option>
							<option value="15">ELEMENTOS DE MATEMATICA 2</option>
							<option value="16">ESTADISTICA PARA INGENIEROS</option>
							<option value="17">ESTRATEGIAS INSTRUMENTALES</option>
							<option value="18">ESTRUCTURAS DE DATOS</option>
							<option value="19">Electiva</option>
							<option value="20">FISICA I</option>
							<option value="21">FISICA II</option>
							<option value="22">FISICA III</option>
							<option value="23">GERENCIA DE PROYECTOS TIC</option>
							<option value="24">GESTIÓN DE LA CADENA DE SUMINISTRO I</option>
							<option value="25">INGENIERIA DE SOFTWARE</option>
							<option value="26">INGENIERIA ECONOMICA</option>
							<option value="27">INGENIERÍA AMBIENTAL</option>
							<option value="28">INGLES I</option>
							<option value="29">INGLES II</option>
							<option value="30">INGLES III</option>
							<option value="31">INGLES IV</option>
							<option value="32">INGLES V</option>
							<option value="33">INICIATIVA EMPRENDEDORA</option>
							<option value="34">INSTRUMENTACION Y APRENDIZAJE</option>
							<option value="35">INTRODUCCION A LA INGENIERIA</option>
							<option value="36">LABORATORIO DE FISICA</option>
							<option value="37">LABORATORIO QUIMICA GENERAL I</option>
							<option value="38">LECTURA Y APRENDIZAJE</option>
							<option value="39">LENGUA Y LENGUAJE</option>
							<option value="40">LENGUAJE Y UNIVERSALIDAD</option>
							<option value="41">LIDERAZGO CIUDADANO Y DES. SOSTENIBLE</option>
							<option value="42">MATEMATICA BASICA</option>
							<option value="43">MATEMATICA GENERAL</option>
							<option value="44">MATEMATICAS DISCRETAS</option>
							<option value="45">MATEMATICAS I</option>
							<option value="46">MATEMATICAS II</option>
							<option value="47">MATEMATICAS III</option>
							<option value="48">MATEMATICAS IV</option>
							<option value="49">MATEMATICAS V</option>
							<option value="50">MODELAC. DE SISTEMAS EN REDES</option>
							<option value="51">MODELOS ESTOCASTICOS</option>
							<option value="52">OPTIMIZACION I</option>
							<option value="53">OPTIMIZACION II</option>
							<option value="54">ORGANIZACION DEL COMPUTADOR</option>
							<option value="55">PROYECTOS DE INGENIERIA</option>
							<option value="56">QUIMICA GENERAL I</option>
							<option value="57">RESP. SOCIAL Y PARTICIPACION CIUDADANA</option>
							<option value="58">SEGURIDAD DE LA INFORMACIÖN</option>
							<option value="59">SERVICIO COMUNITARIO</option>
							<option value="60">SIMULACIÓN</option>
							<option value="61">SISTEMAS DE APOYO</option>
							<option value="62">SISTEMAS DE INFORMACION</option>
							<option value="63">SISTEMAS DE REDES</option>
							<option value="64">SISTEMAS OPERATIVOS</option>
							<option value="65">TALLER DE TRABAJO DE GRADO - INGENIERÍA</option>
							<option value="66">TECNICAS DE GESTION DE LA INFORMACION</option>
							<option value="67">TECNOLOGIAS PARA EL APRENDIZAJE</option>

						</select>
						<br>
						<br>
						<br>
					</div>


					<div id="idmat5" style="display: none;">
						<label>Seleccione materia</label>
						<select id="idMateria5">

							<option value="0">NINGUNA</option>
							<option value="1">ADMINISTRACION DE BASES DE DATOS</option>
							<option value="2">ALGEBRA LINEAL</option>
							<option value="3">ALGORITMOS Y PROGRAMACION</option>
							<option value="4">APRENDIENDO A EMPRENDER</option>
							<option value="5">ARQUITECTURA DEL COMPUTADOR</option>
							<option value="6">BASES DE DATOS</option>
							<option value="7">COMPETENCIAS EN ACCION</option>
							<option value="8">COMPRENSION DE VENEZUELA</option>
							<option value="9">COMPUTACION EMERGENTE</option>
							<option value="10">DEFENSA PROYECTO INDUSTRIAL-ING.SISTEMAS</option>
							<option value="11">DEFENSA TRABAJO DE GRADO-ING.SISTEMAS</option>
							<option value="12">DISEñO ASISTIDO POR COMPUTADOR</option>
							<option value="13">ECUACIONES DIFERENCIALES</option>
							<option value="14">ELEMENTOS DE MATEMATICA 1</option>
							<option value="15">ELEMENTOS DE MATEMATICA 2</option>
							<option value="16">ESTADISTICA PARA INGENIEROS</option>
							<option value="17">ESTRATEGIAS INSTRUMENTALES</option>
							<option value="18">ESTRUCTURAS DE DATOS</option>
							<option value="19">Electiva</option>
							<option value="20">FISICA I</option>
							<option value="21">FISICA II</option>
							<option value="22">FISICA III</option>
							<option value="23">GERENCIA DE PROYECTOS TIC</option>
							<option value="24">GESTIÓN DE LA CADENA DE SUMINISTRO I</option>
							<option value="25">INGENIERIA DE SOFTWARE</option>
							<option value="26">INGENIERIA ECONOMICA</option>
							<option value="27">INGENIERÍA AMBIENTAL</option>
							<option value="28">INGLES I</option>
							<option value="29">INGLES II</option>
							<option value="30">INGLES III</option>
							<option value="31">INGLES IV</option>
							<option value="32">INGLES V</option>
							<option value="33">INICIATIVA EMPRENDEDORA</option>
							<option value="34">INSTRUMENTACION Y APRENDIZAJE</option>
							<option value="35">INTRODUCCION A LA INGENIERIA</option>
							<option value="36">LABORATORIO DE FISICA</option>
							<option value="37">LABORATORIO QUIMICA GENERAL I</option>
							<option value="38">LECTURA Y APRENDIZAJE</option>
							<option value="39">LENGUA Y LENGUAJE</option>
							<option value="40">LENGUAJE Y UNIVERSALIDAD</option>
							<option value="41">LIDERAZGO CIUDADANO Y DES. SOSTENIBLE</option>
							<option value="42">MATEMATICA BASICA</option>
							<option value="43">MATEMATICA GENERAL</option>
							<option value="44">MATEMATICAS DISCRETAS</option>
							<option value="45">MATEMATICAS I</option>
							<option value="46">MATEMATICAS II</option>
							<option value="47">MATEMATICAS III</option>
							<option value="48">MATEMATICAS IV</option>
							<option value="49">MATEMATICAS V</option>
							<option value="50">MODELAC. DE SISTEMAS EN REDES</option>
							<option value="51">MODELOS ESTOCASTICOS</option>
							<option value="52">OPTIMIZACION I</option>
							<option value="53">OPTIMIZACION II</option>
							<option value="54">ORGANIZACION DEL COMPUTADOR</option>
							<option value="55">PROYECTOS DE INGENIERIA</option>
							<option value="56">QUIMICA GENERAL I</option>
							<option value="57">RESP. SOCIAL Y PARTICIPACION CIUDADANA</option>
							<option value="58">SEGURIDAD DE LA INFORMACIÖN</option>
							<option value="59">SERVICIO COMUNITARIO</option>
							<option value="60">SIMULACIÓN</option>
							<option value="61">SISTEMAS DE APOYO</option>
							<option value="62">SISTEMAS DE INFORMACION</option>
							<option value="63">SISTEMAS DE REDES</option>
							<option value="64">SISTEMAS OPERATIVOS</option>
							<option value="65">TALLER DE TRABAJO DE GRADO - INGENIERÍA</option>
							<option value="66">TECNICAS DE GESTION DE LA INFORMACION</option>
							<option value="67">TECNOLOGIAS PARA EL APRENDIZAJE</option>

						</select>
						<br>
						<br>
						<br>
					</div>


					<div id="idmat6" style="display: none;">
						<label>Seleccione materia</label>
						<select id="idMateria6">

							<option value="0">NINGUNA</option>
							<option value="1">ADMINISTRACION DE BASES DE DATOS</option>
							<option value="2">ALGEBRA LINEAL</option>
							<option value="3">ALGORITMOS Y PROGRAMACION</option>
							<option value="4">APRENDIENDO A EMPRENDER</option>
							<option value="5">ARQUITECTURA DEL COMPUTADOR</option>
							<option value="6">BASES DE DATOS</option>
							<option value="7">COMPETENCIAS EN ACCION</option>
							<option value="8">COMPRENSION DE VENEZUELA</option>
							<option value="9">COMPUTACION EMERGENTE</option>
							<option value="10">DEFENSA PROYECTO INDUSTRIAL-ING.SISTEMAS</option>
							<option value="11">DEFENSA TRABAJO DE GRADO-ING.SISTEMAS</option>
							<option value="12">DISEñO ASISTIDO POR COMPUTADOR</option>
							<option value="13">ECUACIONES DIFERENCIALES</option>
							<option value="14">ELEMENTOS DE MATEMATICA 1</option>
							<option value="15">ELEMENTOS DE MATEMATICA 2</option>
							<option value="16">ESTADISTICA PARA INGENIEROS</option>
							<option value="17">ESTRATEGIAS INSTRUMENTALES</option>
							<option value="18">ESTRUCTURAS DE DATOS</option>
							<option value="19">Electiva</option>
							<option value="20">FISICA I</option>
							<option value="21">FISICA II</option>
							<option value="22">FISICA III</option>
							<option value="23">GERENCIA DE PROYECTOS TIC</option>
							<option value="24">GESTIÓN DE LA CADENA DE SUMINISTRO I</option>
							<option value="25">INGENIERIA DE SOFTWARE</option>
							<option value="26">INGENIERIA ECONOMICA</option>
							<option value="27">INGENIERÍA AMBIENTAL</option>
							<option value="28">INGLES I</option>
							<option value="29">INGLES II</option>
							<option value="30">INGLES III</option>
							<option value="31">INGLES IV</option>
							<option value="32">INGLES V</option>
							<option value="33">INICIATIVA EMPRENDEDORA</option>
							<option value="34">INSTRUMENTACION Y APRENDIZAJE</option>
							<option value="35">INTRODUCCION A LA INGENIERIA</option>
							<option value="36">LABORATORIO DE FISICA</option>
							<option value="37">LABORATORIO QUIMICA GENERAL I</option>
							<option value="38">LECTURA Y APRENDIZAJE</option>
							<option value="39">LENGUA Y LENGUAJE</option>
							<option value="40">LENGUAJE Y UNIVERSALIDAD</option>
							<option value="41">LIDERAZGO CIUDADANO Y DES. SOSTENIBLE</option>
							<option value="42">MATEMATICA BASICA</option>
							<option value="43">MATEMATICA GENERAL</option>
							<option value="44">MATEMATICAS DISCRETAS</option>
							<option value="45">MATEMATICAS I</option>
							<option value="46">MATEMATICAS II</option>
							<option value="47">MATEMATICAS III</option>
							<option value="48">MATEMATICAS IV</option>
							<option value="49">MATEMATICAS V</option>
							<option value="50">MODELAC. DE SISTEMAS EN REDES</option>
							<option value="51">MODELOS ESTOCASTICOS</option>
							<option value="52">OPTIMIZACION I</option>
							<option value="53">OPTIMIZACION II</option>
							<option value="54">ORGANIZACION DEL COMPUTADOR</option>
							<option value="55">PROYECTOS DE INGENIERIA</option>
							<option value="56">QUIMICA GENERAL I</option>
							<option value="57">RESP. SOCIAL Y PARTICIPACION CIUDADANA</option>
							<option value="58">SEGURIDAD DE LA INFORMACIÖN</option>
							<option value="59">SERVICIO COMUNITARIO</option>
							<option value="60">SIMULACIÓN</option>
							<option value="61">SISTEMAS DE APOYO</option>
							<option value="62">SISTEMAS DE INFORMACION</option>
							<option value="63">SISTEMAS DE REDES</option>
							<option value="64">SISTEMAS OPERATIVOS</option>
							<option value="65">TALLER DE TRABAJO DE GRADO - INGENIERÍA</option>
							<option value="66">TECNICAS DE GESTION DE LA INFORMACION</option>
							<option value="67">TECNOLOGIAS PARA EL APRENDIZAJE</option>

						</select>
						<br>
						<br>
						<br>
					</div>


					<div id="idmat7" style="display: none;">
						<label>Seleccione materia</label>
						<select id="idMateria7">

							<option value="0">NINGUNA</option>
							<option value="1">ADMINISTRACION DE BASES DE DATOS</option>
							<option value="2">ALGEBRA LINEAL</option>
							<option value="3">ALGORITMOS Y PROGRAMACION</option>
							<option value="4">APRENDIENDO A EMPRENDER</option>
							<option value="5">ARQUITECTURA DEL COMPUTADOR</option>
							<option value="6">BASES DE DATOS</option>
							<option value="7">COMPETENCIAS EN ACCION</option>
							<option value="8">COMPRENSION DE VENEZUELA</option>
							<option value="9">COMPUTACION EMERGENTE</option>
							<option value="10">DEFENSA PROYECTO INDUSTRIAL-ING.SISTEMAS</option>
							<option value="11">DEFENSA TRABAJO DE GRADO-ING.SISTEMAS</option>
							<option value="12">DISEñO ASISTIDO POR COMPUTADOR</option>
							<option value="13">ECUACIONES DIFERENCIALES</option>
							<option value="14">ELEMENTOS DE MATEMATICA 1</option>
							<option value="15">ELEMENTOS DE MATEMATICA 2</option>
							<option value="16">ESTADISTICA PARA INGENIEROS</option>
							<option value="17">ESTRATEGIAS INSTRUMENTALES</option>
							<option value="18">ESTRUCTURAS DE DATOS</option>
							<option value="19">Electiva</option>
							<option value="20">FISICA I</option>
							<option value="21">FISICA II</option>
							<option value="22">FISICA III</option>
							<option value="23">GERENCIA DE PROYECTOS TIC</option>
							<option value="24">GESTIÓN DE LA CADENA DE SUMINISTRO I</option>
							<option value="25">INGENIERIA DE SOFTWARE</option>
							<option value="26">INGENIERIA ECONOMICA</option>
							<option value="27">INGENIERÍA AMBIENTAL</option>
							<option value="28">INGLES I</option>
							<option value="29">INGLES II</option>
							<option value="30">INGLES III</option>
							<option value="31">INGLES IV</option>
							<option value="32">INGLES V</option>
							<option value="33">INICIATIVA EMPRENDEDORA</option>
							<option value="34">INSTRUMENTACION Y APRENDIZAJE</option>
							<option value="35">INTRODUCCION A LA INGENIERIA</option>
							<option value="36">LABORATORIO DE FISICA</option>
							<option value="37">LABORATORIO QUIMICA GENERAL I</option>
							<option value="38">LECTURA Y APRENDIZAJE</option>
							<option value="39">LENGUA Y LENGUAJE</option>
							<option value="40">LENGUAJE Y UNIVERSALIDAD</option>
							<option value="41">LIDERAZGO CIUDADANO Y DES. SOSTENIBLE</option>
							<option value="42">MATEMATICA BASICA</option>
							<option value="43">MATEMATICA GENERAL</option>
							<option value="44">MATEMATICAS DISCRETAS</option>
							<option value="45">MATEMATICAS I</option>
							<option value="46">MATEMATICAS II</option>
							<option value="47">MATEMATICAS III</option>
							<option value="48">MATEMATICAS IV</option>
							<option value="49">MATEMATICAS V</option>
							<option value="50">MODELAC. DE SISTEMAS EN REDES</option>
							<option value="51">MODELOS ESTOCASTICOS</option>
							<option value="52">OPTIMIZACION I</option>
							<option value="53">OPTIMIZACION II</option>
							<option value="54">ORGANIZACION DEL COMPUTADOR</option>
							<option value="55">PROYECTOS DE INGENIERIA</option>
							<option value="56">QUIMICA GENERAL I</option>
							<option value="57">RESP. SOCIAL Y PARTICIPACION CIUDADANA</option>
							<option value="58">SEGURIDAD DE LA INFORMACIÖN</option>
							<option value="59">SERVICIO COMUNITARIO</option>
							<option value="60">SIMULACIÓN</option>
							<option value="61">SISTEMAS DE APOYO</option>
							<option value="62">SISTEMAS DE INFORMACION</option>
							<option value="63">SISTEMAS DE REDES</option>
							<option value="64">SISTEMAS OPERATIVOS</option>
							<option value="65">TALLER DE TRABAJO DE GRADO - INGENIERÍA</option>
							<option value="66">TECNICAS DE GESTION DE LA INFORMACION</option>
							<option value="67">TECNOLOGIAS PARA EL APRENDIZAJE</option>

						</select>
						<br>
						<br>
					</div>

				</ul>
				<p>
					<input id="apredecir" type="hidden" name="array">
				</p>



				<script type="text/javascript">
					function ObtenerMaterias() {
						/* Para obtener los valores */
						var cod1 = document.getElementById("idMateria1").value;
						var cod2 = document.getElementById("idMateria2").value;
						var cod3 = document.getElementById("idMateria3").value;
						var cod4 = document.getElementById("idMateria4").value;
						var cod5 = document.getElementById("idMateria5").value;
						var cod6 = document.getElementById("idMateria6").value;
						var cod7 = document.getElementById("idMateria7").value;
						var array = [cod1, cod2, cod3, cod4, cod5, cod6, cod7]
						var stringArray = JSON.stringify(array);
						document.getElementById("apredecir").value = array

						/*Evitar que se inserten materias iguales*/
						/*for (var i = 0; i < array.length; i++) {
							for (var j = 0; j < array.length; j++) {
								if (array[i] == array[j] && i != j && array[i] != 0 && array[k] != 0) {
									break;
								}
							}
						}*/
					}
				</script>
				<p>
					<input id="submit" type="submit" value="Submit" onclick="ObtenerMaterias()">
				</p>
			</p>
		</fieldset>
	</form>
</body>

</html>